# SPDX-FileCopyrightText: NONE
# SPDX-License-Identifier: CC0-1.0

# https://editorconfig.org

root = true

[*]
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.yml]
indent_size = 2
